
$body-bgc: #fafafa;
$body-width: 1040px;

$second-bgc: #fcfcfc;

$theme-color: #1bbc9b;

$header-nav-height: 56px;
$header-search-width: 260px;
$header-search-height: 32px;

$box-shadow: 0 0 2px rgba(0, 0, 0, .15);

$input-border-color: #e4e4e4;

$home-rightmods: (
  'skin': '#v6_pl_content_setskin',  // 主题
  'myinfo': '#v6_pl_rightmod_myinfo', // 个人信息
  'rank': '#v6_pl_rightmod_rank',  // 电影/音乐排名
  'recominfo': '#v6_pl_rightmod_recominfo', // 热门话题
  'attfeed': '#v6_pl_rightmod_attfeed', // 好友关注动态
  'member': '#v6_trustPagelet_recom_member', // 会员专区
  'noticeboard': '#v6_pl_rightmod_noticeboard',  // 公告栏
  'postad': '.send_weibo .key', // 输入框广告
  'inputad': '#v6_pl_content_biztips', // 输入框下广告
  'webim': '#WB_webim',  // 私信聊天
  'mplayer': '.PCD_mplayer',  // 音乐播放器
  'group': '#v6_pl_rightmod_groups',  // 分组成员
  'recomgroupuser': '#v6_pl_rightmod_recomgroupuser',  // 分组推荐
  'friends': '#v6_pl_rightmod_friends',  // 好友圈成员
  'v6_pl_rightmod_recomfriends': '#v6_pl_rightmod_recomfriends',  // 好友圈推荐
  'ads36': '#v6_pl_rightmod_ads36',  // 广告
  'bottomad': '.WB_frame_bottom',  // 页脚广告
);

$home-leftmods: (
  'counter': '.PCD_counter',  // 关注&粉丝&微博
  'userinfo': '.PCD_person_info',  // 个人信息
  'fansgroup': '.PCD_ut_a',  // 粉丝群
  'usergrid': '.PCD_user_a',  // 微关系
  'article': '.PCD_pictext_h, .PCD_pictext_h + a',  // 文章
  'photolist': '.PCD_photolist',  // 相册
  'usergroup': '.PCD_user_a',  // 公开分组
  'userfans': '.PCD_ut_a',  // 粉丝关注
  'file': '.PCD_pictext_a, .PCD_pictext_a + a',  // 微盘文件
  'video': '.PCD_piclist_d',  // 视频
  'like': '.PCD_pictext_f',  // 赞
);

@each $key, $band in $home-rightmods {
  @if $key != 'myinfo' {
    #{$band} {
      display: none !important;
    }
  }
}

@each $key, $band in $home-leftmods {
  @if $key != 'counter' and $key != 'article' {
    .B_page #{$band} {
      display: none !important;
    }
  }
}

body {
  background: $body-bgc !important;

  .WB_miniblog {
    // background: $body-bgc !important;
  }
}

.WB_miniblog {
  padding-top: 0 !important;

  // header
  .WB_global_nav {
    position: static;
    height: $header-nav-height;
    border-top: none;
    box-shadow: $box-shadow;

    .gn_header {
      width: $body-width;
      height: 100%;
    }

    .gn_logo {
      position: absolute;
      left: 50%;
      height: 100%;
      transform: translateX(-50%);

      .box {
        height: 100%;

        .logo {
          height: 100%;
        }
      }
    }

    .gn_search_v2 {
      float: right;
      margin-top: 11px;
      width: $header-search-width;
      height: $header-search-height;
      background-color: transparent;
      border: 1px solid #e2e2e2;
      border-radius: $header-search-height;

      .placeholder {
        width: $header-search-width;
        height: $header-search-height;
        padding-top: 0;
        padding-bottom: 0;
        color: #999;
        line-height: $header-search-height;
        box-sizing: border-box;
      }

      .W_input {
        width: $header-search-width;
        height: $header-search-height;
        color: #666;
        line-height: $header-search-height;
        box-sizing: border-box;
      }

      .W_ficon {
        color: #888;
      }

      .gn_topmenulist_search {
        top: 40px;
        left: 0;
        width: $header-search-width;

        .gn_topmenulist {
          border-radius: 6px;
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, .1);
          border-color: #d4d4d4;
          border: none;

          .selectbox {
            li {
              a {
                border-radius: 4px;
              }
            }
          }
        }
      }
    }

    .gn_position {
      float: left;
      margin-left: 0;

      .gn_nav {
        display: none;
      }

      .gn_set {
        margin-top: 15px;
        margin-bottom: 15px;
        border: none;

        .ficon_send {
          border-radius: 50%;
          font-size: 20px;
        }

        .gn_set_list:first-child {
          margin-left: 0;
        }
      }
    }
    
    //顶部信息菜单
    .gn_topmenulist {
      right: initial;
      left: -1em;

      .W_layer_arrow .W_arrow_bor_t {
        right: initial;
        left: 15px;
      }
    }

    //提醒
    .gn_topmenulist_tips {
      right: initial;
      left: -11px;
      top: 34px;
    }

    //顶部设置菜单
    .gn_topmenulist_set{
      right: initial;
      left: -12px;
    }
  }

  .WB_frame {
    padding: 0;
    margin-top: 10px;
    width: $body-width;
    background: $body-bgc;
  }
}

// home
.B_index {
  .WB_main_l {
    margin-right: 10px;
    box-sizing: border-box;
  }

  // 左侧导航
  .WB_left_nav {
    padding: 4px 0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: $box-shadow;

    [node-type=moreList] {
      display: block !important;
    }

    .levmore {
      display: none;
    }

    .lev_Box {
      .S_txt1 {
        color: #666;

        .ico_block {
          & > .W_ficon {
            color: #666;
          }
        }
      }
    }
  }

  // 内容
  #plc_main {
    width: $body-width - 160px !important;
  }

  // 中间内容流
  .WB_main_c {
    width: 640px;

    // 发送微博
    .send_weibo {
      padding-top: 13px;
      padding-bottom: 12px;

      .input {
        margin-bottom: 2px;
        border-color: $input-border-color;
        box-shadow: none;

        &.clicked {
          border-color: #fa7d3c;
        }
      }

      .func_area {
        .S_txt1 {
          font-size: 0;

          .W_ficon {
            margin-top: -10px;
          }
        }
      }
    }

    // 过滤
    .WB_tab_a {
      display: none;
    }

    // 新微博提醒
    .WB_notes {
      margin: 0;
      padding: 5px 0;
      border-radius: 0;
    }
  }

  // 右侧内容流
  .WB_main_r {
    width: 230px;
    margin-right: 0;
  }
}

.B_page {
  .WB_frame {
    width: $body-width !important;

    .WB_frame_a {
      margin-right: 0;
      width: 100%;

      [node-type=set_skin] {
        display: none;
      }

      [node-type=cover] {
        background-size: cover;
      }
    }

    .WB_frame_b {
      .WB_cardwrap {
        margin-bottom: 5px;
      }
    }

    .WB_frame_c {
      width: 720px;
      margin-right: 0;

      .WB_tab_a {
        display: none;
      }

      .WB_cardwrap {
        margin-bottom: 0;
      }

      .WB_timeline {
        margin-left: 550px;
      }

      .PCD_piclist_b {
        display: none;

        // .m_wrap {
        //   width: 720px;
        //
        //   .pic_slider {
        //     width: 720px;
        //
        //     .pic {
        //       height: 270px;
        //     }
        //   }
        // }
      }
    }

    #plc_main {
      width: 100% !important;
    }
  }

  #base_scrollToTop {
    margin-left: 550px;
  }

  .member_box {
    .member_li {
      width: 330px !important;
    }
  }
}

// 微博流
.WB_feed_v3 {
  .WB_expand {
    padding: 6px 14px !important;
    margin: 5px 0 5px 0 !important;
    background-color: $second-bgc;
    border: 1px solid #e6e6e6;

    .WB_func {
      margin-top: 8px;
      margin-bottom: 4px;
    }
  }

  .WB_expand_media_box {
    margin: 0 !important;
    background-color: $second-bgc;

    .WB_expand_media {
      padding: 0 !important;
      margin-bottom: 5px;
      background-color: $second-bgc;
    }
  }

  .WB_feed_repeat {
    background-color: $second-bgc;

    .WB_repeat {
      border-color: #eee;
    }
  }

  .WB_feed_together {
    background-color: $second-bgc;

    .W_fl {
      background-color: $second-bgc;
    }
  }

  .repeat_list {
    .list_ul {
      .between_line {
        background-color: $second-bgc;
      }
    }
  }

  .WB_feed_publish {
    background-color: $second-bgc;

    .WB_publish {
      .W_input {
        border-color: $input-border-color;
        box-shadow: none;
      }
    }
  }

  .media_box {
    .WB_media_a {
      width: 510px;

      .WB_pic {
        width: 166px;
        height: 166px;
      }

      .WB_video {
        width: 500px;
        height: 281px;
      }
    }
  }
  // .WB_feed_expand {
  //   .media_box {
  //     .WB_pic {
  //       width: 166px;
  //       height: 166px;
  //     }
  //   }
  // }
}

/*滚动条宽度*/
::-webkit-scrollbar {
    width: 8px;
}

/* 轨道样式 */
::-webkit-scrollbar-track {

}

/* Handle样式 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}

/*当前窗口未激活的情况下*/
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.1);
}

/*hover 到滚动条上*/
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0,0,0,0.3);
}

/*滚动条按下*/
::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0,0,0,0.7);
}
